:host{
  border: 1px solid whitesmoke;
  display: flex;
}
:host:hover{
  background-color: #EBEBEB;
}
.node-block{
  position: relative;
  width: 80%;
  margin-left: 20px;
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5A8654;
  display: flex;
  justify-content: center;
  align-items:center;
}
.name{
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.date{
  position: absolute;
  right: 5px;
  top:5px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
